<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>ChatIOtalk</h1>
      <h4>Welcome to ChatIOtalk!</h4>
    </header>
    <section>
      <form action="/login" method="post">
        <input type="text" name="username[name]" placeholder="Digite o nome" />
        <br />
        <input
          type="text"
          name="username[email]"
          placeholder="Digite o e-mail"
        />
        <br />
        <button type="submit">Entrar</button>
      </form>
    </section>
    <footer>
      <small>ChatIOtalk - Agenda de contatos</small>
    </footer>
  </body>
</html>
